## Import

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
PATH_TRAIN = os.path.join ("input", "adult.data")

In [3]:
PATH_TEST = os.path.join ("input", "adult.test")

In [4]:
TEMP_PATH = os.path.join("temp")

In [5]:
train_df = pd.read_csv(os.path.join(PATH_TRAIN), header= None)
#spaltennamen
columns = ["age", 
           "workclass", 
           "final_weight", 
           "education", 
           "education_num", 
           "marital_status",
          "occupation",
          "relationship",
          "race",
          "sex",
          "capital_gain",
          "capital_loss",
          "hours_per_week",
           "native_country",
           "income"]
train_df.columns = columns
#leerzeichen raus und Ã¼berall kleinschreibung
for col in train_df.select_dtypes(include=['object']).columns:
    train_df[col] = train_df[col].str.strip().str.lower()

In [6]:
train_df.sample(20)

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
23563,49,private,155489,masters,14,married-civ-spouse,prof-specialty,husband,white,male,0,0,50,united-states,>50k
27275,25,private,104193,hs-grad,9,never-married,other-service,own-child,white,female,114,0,40,united-states,<=50k
15400,44,private,126199,some-college,10,divorced,transport-moving,unmarried,white,male,1831,0,50,united-states,<=50k
12591,56,private,92444,some-college,10,married-civ-spouse,exec-managerial,husband,black,male,0,0,50,united-states,>50k
26943,39,local-gov,180686,masters,14,married-civ-spouse,prof-specialty,husband,white,male,0,1977,45,united-states,>50k
9427,39,self-emp-inc,33975,hs-grad,9,married-civ-spouse,craft-repair,husband,white,male,0,0,50,united-states,<=50k
16001,24,private,403671,bachelors,13,never-married,prof-specialty,not-in-family,white,male,0,0,40,united-states,<=50k
6530,40,private,321758,hs-grad,9,married-civ-spouse,sales,husband,white,male,0,0,40,united-states,>50k
3189,43,self-emp-inc,320984,some-college,10,married-civ-spouse,machine-op-inspct,husband,white,male,0,0,50,united-states,<=50k
27999,21,private,140764,hs-grad,9,never-married,adm-clerical,other-relative,white,female,0,0,45,united-states,<=50k
24407,52,private,114971,some-college,10,married-civ-spouse,craft-repair,husband,white,male,0,0,40,united-states,>50k
1382,25,local-gov,163101,bachelors,13,never-married,prof-specialty,not-in-family,white,male,0,0,45,united-states,<=50k
11855,19,private,214935,some-college,10,never-married,handlers-cleaners,own-child,white,male,0,0,40,united-states,<=50k
30419,23,private,233923,some-college,10,never-married,other-service,own-child,white,female,0,0,20,united-states,<=50k
26432,36,private,269042,hs-grad,9,married-civ-spouse,machine-op-inspct,husband,asian-pac-islander,male,0,0,40,laos,<=50k
30070,22,private,192455,hs-grad,9,never-married,adm-clerical,unmarried,white,female,0,0,40,united-states,<=50k
22378,44,?,190205,7th-8th,4,married-civ-spouse,?,husband,white,male,0,0,25,united-states,<=50k
11797,41,private,204410,hs-grad,9,married-civ-spouse,craft-repair,husband,white,male,0,1485,44,united-states,>50k
29942,69,private,361561,prof-school,15,married-civ-spouse,prof-specialty,husband,white,male,0,0,3,united-states,<=50k
10974,30,private,392812,hs-grad,9,never-married,handlers-cleaners,not-in-family,white,male,0,0,50,germany,<=50k

In [7]:
test_df = pd.read_csv(PATH_TEST, header= None)
columns = ["age", 
           "workclass", 
           "final_weight", 
           "education", 
           "education_num", 
           "marital_status",
          "occupation",
          "relationship",
          "race",
          "sex",
          "capital_gain",
          "capital_loss",
          "hours_per_week",
           "native_country",
           "income"]
test_df.columns = columns
for col in test_df.select_dtypes(include=['object']).columns:
    test_df[col] = test_df[col].str.strip().str.lower()

In [8]:
train_df.to_pickle(os.path.join(TEMP_PATH, "train.pickle"))

In [9]:
test_df.to_pickle(os.path.join(TEMP_PATH, "test.pickle"))